<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url("https://user-images.githubusercontent.com/69152112/210169299-0c11ba40-2f14-49cf-b592-56f6c223274d.png");
    background-size: cover;
}
.pd{
padding-bottom:45%;}
}
</style>
</head>
<body>

<br>
<center><b class="pd"><font color="black" size="15" font-family="Comic Sans MS" >Unraveling Student Segmentation via CGPA-IQ Analysis</font></b></center><br><br>
<div>
<br>
<center>
<h2><font color="black" >The Grades of Students via CGPA-IQ Analysis is </h2>
<h2><font color="black"> {{result}} </h2>  
</center>
</div>
</body>
</html>